<input  #myInput (keydown.enter)="movie_filter(myInput.value)" placeholder="Pesquisar">
<div style="display: flex; flex-direction: row;flex-wrap: wrap;justify-content: space-around;">
    <div class="card text-white bg-dark mb-3" style="max-width: 430px;" *ngFor="let film of movie">
        <div class="card-header dark">{{film.title}}</div>
        <div class="card-body text-white">
          <p class="card-text"><ul><li>Episode id: {{film.episode_id}}</li></ul>
          <ul><li>Film opening: {{film.opening_crawl}}</li></ul>
          <ul><li>Release date: {{film.release_date}}</li></ul>
          <ul>Characters:<div style="display: flex; flex-direction: row;color:rgb(0, 116, 211); " *ngFor="let id of film.people_id; index as i" #valor value="id" (click)="show_people(id)">{{film.people[i]}}</div></ul>
          <ul>PLanets:<div style="display: flex; flex-direction: row;color:rgb(0, 116, 211); " *ngFor="let id of film.planets_id; index as i" #valor value="id" (click)="show_world(id)"><p>{{film.planets[i]}}</p> </div></ul><p>
        </div>
    </div>
</div>

