<input  #myInput (keydown.enter)="people_filter(myInput.value)" placeholder="Pesquisar">

<div style="display: flex; flex-direction: row;flex-wrap: wrap;justify-content: space-around;">
  <div class="card border-dark mb-3"  *ngFor="let people of people">
      <div class="card-header">{{people.name}}</div>
      <div class="card-body text-dark">
        <p class="card-text"><ul><li>Birth Year: {{people.birth_year}}</li></ul>
        <ul><li>Gender: {{people.gender}}</li></ul>
        <ul><li>Films: {{people.films}}</li></ul><p>
      </div>
  </div>
</div>