<input  #myInput (keydown.enter)="people_filter(myInput.value)" placeholder="Pesquisar">

<div style="display: flex; flex-direction: row;flex-wrap: wrap;justify-content: space-around;">
  <div class="card text-white bg-dark mb-3" style="max-width: 430px;"  *ngFor="let people of people">
      <div class="card-header">{{people.name}}</div>
      <div class="card-body text-white">
        <p class="card-text"><ul><li>Birth Year: {{people.birth_year}}</li></ul>
        <ul><li>Gender: {{people.gender}}</li></ul>
        <ul>Films:<div style="display: flex; flex-direction: row;color:rgb(0, 116, 211); " *ngFor="let id of people.films_id; index as i" #valor value="id" (click)="show_films(id)"><p>{{people.films[i]}}</p> </div></ul><p>
        </div>
  </div>
</div>
