<input  #myInput (keydown.enter)="world_filter(myInput.value)" placeholder="Pesquisar">

<div style="display: flex; flex-direction: row;flex-wrap: wrap;justify-content: space-around;">
  <div class="card text-white bg-dark mb-3" style="max-width: 430px;"  *ngFor="let world of world">
      <div class="card-header">{{world.name}}</div>
      <div class="card-body text-white">
        <p class="card-text"><ul><li>Rotation period: {{world.rotation_period}}</li></ul>
        <ul><li>Orbital Period: {{world.orbital_period}}</li></ul>
        <ul><li>Diameter: {{world.diameter}}</li></ul>
        <ul><li><div style="display: flex; flex-direction: row;">Films: <div *ngFor="let link of (world.films)"><button #valor [value]="link" (click)="show_films(valor.value)">{{link}}</button></div></div></li></ul><p>
          <ul><li>climate: {{world.climate}}</li></ul><p>
        <ul><li>Population: {{world.population}}</li></ul><p>
        <ul><li>Residents: {{world.residents}}</li></ul><p>
      </div>
  </div>
</div>
